*{
  font-family: Arial, Helvetica, sans-serif;
}


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    font-size: 16px;
    width: 80%; /* Add Buttons */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
  }


  p{

    width: 80%;
    height: auto;

    position: absolute;

    border: 1px solid #ccc;
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    
    padding: 1%;
    margin-left: 2.5%;
    
    
    color:#777777;

    background: white;
  }
  

  h1{
    color: maroon;
    font-size: 64px;
  }

  h3,h4{
    color: maroon;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
  }

  h4{
    padding-left: 2%;
    padding-right: 2%;
  }

  button{
    position: relative;
    background-color: maroon;
    color: antiquewhite;
    border-radius: 25%;
    border-color: maroon;
  }

  button:disabled,
  button[disabled]{
    border: 1px solid #999999;
    background-color: antiquewhite;
    color: maroon;
}


.sp-bttn{ 
  margin-top: 1.25%; 
  left: 83%; 
}

  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background: linear-gradient(antiquewhite, pink, orange);
    padding: 5px;
  }

  .ans-container{
  height: 110px;
  position: relative;
  }

  .footer{
    margin-top: 20px;
    border-radius: 5px;
    background: linear-gradient(antiquewhite, pink);
    padding: 10px;
    height: 150px;
  }

  #img-container{
    text-align: center;
  }
  img {
    width: 40%;
    height: auto;
    width: auto\9; /* ie8 */
}

/* CSS */
.button-17 {
  align-items: center;
  appearance: none;
  color: white;
  background-color: maroon;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.button-17:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}


@media only screen and (max-width : 720px) {

  .sp-bttn{
    position: absolute;
    top: 70%;
    left: 40%;
  }

  p{
    padding: 4%;
    width: 100%;
    margin-left: 0%;
  }

  img{
    width: 100%;
  }

  input[type=text], select, textarea {
    width: 100%; /* Full width */
  }

  h1{
    font-size:56px;
  }

  h4{
    padding-left: 0.8%;
    padding-right: 0.8%;
  }
  
  .footer{
    height: 300px;
  }

}
